@page "/group"
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@using Shared
@attribute [Authorize]

@inject HttpClient Http



<PageTitle>DATA GROUP</PageTitle>

<h1>DATA GROUP</h1>

<p>Seluruh Data Group.</p>

@if (datas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nama Group</th>
                <th>Deskripsi</th>
                <th>Dibuat Oleh</th>
                <th>Anggota</th>
                <th style="width:100px; text-align:right">Tanggal Buat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in datas)
            {
                <tr>
                    <td>@forecast.NameGroup</td>
                    <td>@forecast.Description</td>
                    <td>@forecast.Owner</td>
                    <td>@forecast.JumlahAnggota</td>
                    <td>@forecast.Created.ToString("dd MMM yyyy")</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GroupDTO[]? datas;

    protected override async Task OnInitializedAsync()
    {
        var x = await Http.GetAsync("api/admin/groups");
        if (x.IsSuccessStatusCode)
        {
            var dataString = await x.Content.ReadAsStringAsync();
            datas = JsonSerializer.Deserialize<GroupDTO[]>(dataString, Helper.JsonOptions);
        }
    }


}

